<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource_type.name %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @resource_type.provider_name %>
</p>

<h2>Attributes</h2>

<table>
  <% @resource_type.resource_type_attributes.each do |attribute| -%>
    <tr>
      <td><%= attribute.name %></td>
    </tr>
  <% end -%>
</table>

<%= link_to 'Edit', edit_resource_type_path(@resource_type) %> |
<%= link_to 'Back', resource_types_path %>
