<p id="notice"><%= notice %></p>

<h1>Resource Type Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_type_attributes.each do |resource_type_attribute| %>
      <tr>
        <td><%= resource_type_attribute.name %></td>
        <td><%= resource_type_attribute.resource_type_name %></td>
        <td><%= link_to 'Show', resource_type_attribute %></td>
        <td><%= link_to 'Edit', edit_resource_type_attribute_path(resource_type_attribute) %></td>
        <td><%= link_to 'Destroy', resource_type_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Type Attribute', new_resource_type_attribute_path %>
