<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource_type_attribute.name %>
</p>

<p>
  <strong>Resource Type:</strong>
  <%= @resource_type_attribute.resource_type_name %>
</p>

<%= link_to 'Edit', edit_resource_type_attribute_path(@resource_type_attribute) %> |
<%= link_to 'Back', resource_type_attributes_path %>
